{{define "sidebar"}}
  <aside class="sidebar">
    <div class="div-sidebar-navigation">
      <h4>Navigation</h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/contact">Contact</a></li>
        <br />
        <h4>Bastille Commands</h4>
        {{range .Data.Commands}}
          {{if and (ne .Command "console") (ne .Command "edit") (ne .Command "htop") (ne .Command "top")}}
            <li><a href="/{{.Command}}">{{.Command}}</a></li>
          {{end}}
        {{end}}
        <br />
      </ul>
    </div>
  </aside>

  <script>
    const menuButton = document.querySelector('.sidebar-btn');
    const sidebar = document.querySelector('.sidebar');

    menuButton.addEventListener('click', () => {
      sidebar.classList.toggle('open');
    });
  </script>
{{end}}
