:root{
  color-scheme: light dark;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: light-dark(#fff, #444);
}

.loader {
  width: 10px;
  padding: 1px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #333;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn)
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.navbar-brand {
  font-size: 1.4em;
  font-weight: bold;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  display: flex;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.navbar-menu a:hover {
  background-color: #555;
}

.container {
  display: flex;
  flex: 1;
  padding-left: 28vh;
}

.sidebar {
  left: 0;
  width: 20vh;
  height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);  
  /*overflow-y: hidden;*/
  overflow-y: scroll;
  position: fixed;
  z-index: 1;
  transition: width 0.3s ease;
}

.div-sidebar-navigation {
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 30px;
}

.sidebar h4 {
  margin-top: 0;
  color: #333;
}

.sidebar-btn {
  display: none;
  position: fixed;
  top: 4px;
  left: 5px;
  color: #fff;
  background-color: #333;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: max-content;
}

.sidebar ul li {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 2px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 3px 0;
}

.sidebar ul li a:hover {
  color: #fff;
  background-color: #333;  
}

.main-content {
  flex: 1;
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 35px;
  margin-right: 10px;
}

.ttl-home-host-info {
  color: #57565e;
}

.ttl-home-list-jails {
  color: #57565e;
}

.tbl-home-host-info {
  font-size: 0.9em;
}

.tbl-home-host-info tr:hover {
  background-color: #333;
  color: #fff;
}

.tbl-home-list-jails {
  pad: 5px;
  font-size: 0.9em;
  width: 100%;
  overflow-x: auto;
}

.tbl-home-list-jails thead {
  text-align: center;
  background-color: #333;
  color: #fff;
}

.tbl-home-list-jails tbody {
  text-align: left;
  background-color: #fff;
  color: #333;
}

.tbl-home-list-jails tbody tr:hover {
  background-color: #f0eeee;
  color: #000;
}

.tbl-home-list-jails-up {
  background-color: #bbe0b8;
}

.tbl-home-list-jails-down {
  background-color: #fff;
}

.tbl-home-td-btns {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.tbl-home-td-loader {
  width: 12px;
  text-align: center;
}

.btn-home-start-jail {
  background-color: #76aa72;
  border-radius: 2px;
  border: none;
  margin: 2px;
  color: #fff;
}

.btn-home-start-jail:hover {
  background-color: #0c6e21;
}

.btn-home-start-jail:hover:disabled {
  background-color: #d3d3d3;
}

.btn-home-start-jail:disabled {
  background-color: #d3d3d3;
}

.btn-home-stop-jail {
  background-color: #dd544b;
  border-radius: 2px;
  border: none;
  margin: 2px;
  color: #fff;
}

.btn-home-stop-jail:hover {
  background-color: #da2c20;
}

.btn-home-stop-jail:hover:disabled {
  background-color: #d3d3d3;
}

.btn-home-stop-jail:disabled {
  background-color: #d3d3d3;
}

.card {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 7px;
  box-shadow: 5px 5px 5px 5px #d3d3d3;
}

.card-title {
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}

.card-description {
  font-size: 1.0em;
  font-style: italic;
}

.card-content {
  padding-top: 20px;
  font-size: 0.9em;
}

.card-form {
  font-size: 0.9em;
}

.card-form label {
  font-weight: bold;
}

.card-help {
  font-size: 0.9em;
  font-weight: bold;
}

.card-help-options {
  font-size: 0.9em;
  font-weight: normal;
  padding-left: 10px;
}

.card-results {
  background-color: #000;
}

.card-result {
  color: #14c514;
}

.card-error {
  color: #dd544b;
}

.btn-card-submit {
  background-color: #76aa72;
  border-radius: 2px;
  border: none;
  margin: 2px;
  color: #fff;
  height: 30px;
  width: 60px;
}

.btn-card-submit:hover {
  background-color: #0c6e21;
}

.ttl-help {
  color: #57565e;
}

.help-commands-cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: baseline;
  width: 80%;
  margin: 0 auto;
}

.help-commands-item {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #e23232;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
}

.help-commands-item:hover {
  background-color: #555;
  color: #fff;
}

.ttl-contact {
  color: #57565e;
}

.div-contact a {
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .navbar {   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    padding: 10px 20px;    
    z-index: 999;
  }

  .navbar-brand {
    font-size: 1.4em;
    font-weight: bold;
    padding-left: 30px;
  }

  .navbar-menu {
    display: none;
  }

  .sidebar {
    width: 0em;
    height: 100vh;
    overflow-y: scroll;
    /*overflow: hidden;*/
    padding: 0px;
    background-color: #e0dede;
    z-index: 1;
  }

  .div-sidebar-navigation {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .sidebar-btn {
    display: block;
  }

  .sidebar.open {
    width: 20vh;
  }

  .container {
    display: flex;
    flex: 1;
    padding-left: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
    z-index: 2;
  }

  .main-content {
    flex: 1;
    background-color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .div-home-list-jails {
    padding-right: 5px;
  }

  .tbl-home-host-info tbody, td, tr {
    display: block;
  }

  .tbl-home-host-info tr {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .tbl-home-host-info td {
    border: none;
    position: relative;
    padding-left: 5%;
    text-align: right;
    font-weight: bold;
  }

  .tbl-home-host-info td::before {
    position: absolute;
    left: 6px;
    width: 100%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: normal;
  }

  .tbl-home-list-jails thead, tbody, th, td, tr {
    display: block;
  }

  .tbl-home-list-jails thead {
    display: none;
  }

  .tbl-home-list-jails tr {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .tbl-home-list-jails td {
    border: none;
    position: relative;
    padding-left: 50%;
    text-align: right;
    font-weight: bold;
  }

  .tbl-home-list-jails td::before {
    content: attr(data-label);
    position: absolute;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: normal;
  }

  .tbl-home-td-loader {
    padding-bottom: 10px;
  }
}
