{{define "base"}}
  <!DOCTYPE html>
  <html lang="pt-BR">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{.Title}}-Bastille-Web</title>
      <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
      {{template "navbar" .}}
      <div class="container">
        {{template "sidebar" .}}
        <main class="main-content"> {{template "content" .}} </main>
      </div>
      <footer> &copy; 2025 Bastille-Web. Todos os direitos reservados.</footer>
    </body>
    <script src="/static/index.js"></script>
  </html>
{{end}}
