{{define "content"}}
  <div class="card">
    {{$parentContext := .}} 
    {{range .Data.Commands}}
      {{if eq .Command $.CommandName}}
        <div class="card-title">{{.Command}}</div>
        <div class="card-description">{{.Description}}</div>
        <div class="card-content">
          <form id="{{$.CommandName}}-form" class="card-form">
            <label>OPTIONS:</label><br />
            {{range .Options}}
              <input type="checkbox" name="options_{{.Lflag}}" value="{{.Sflag}}" />
              <label for="{{.Lflag}}">{{.Lflag}}</label>
            {{end}}
            <br />
            {{range .Fields}}
              {{if (or (eq . "get") (eq . "set") (eq . "add") (eq . "remove"))}}
                <input type="radio" name="action" value="{{.}}" id="{{.}}" onchange="handleRadioBtn(this)"/>
                <label for="{{.}}">{{.}}</label>
                <br />
              {{else}}
                {{if eq . "TARGET"}}
                  <br />
                  <label>{{.}}</label><br />
                  <select name="{{.}}" id="{{.}}"></select>
                  <br />
                {{else}}
                  <br />
                  <label>{{.}}</label><br />
                  <input type="text" name="{{.}}" id="{{.}}" class="input-text"/>
                  <br />
                {{end}}
              {{end}}              
            {{end}}
            <br />
            <button class="btn-card-submit" onclick="configSubmit(event)">Submit</button>
            <button class="btn-card-help" onclick="helpED(event)">Help</button>
          </form>
        </div>
        <br />
        <div class="card-help" id="card-help">
          <h3>Help</h3>
          <p>{{.Help}}</p>
          <div class="card-help-options">
            {{range .Options}}
              <p>&nbsp;&nbsp;{{.Sflag}}&nbsp;|&nbsp;{{.Lflag}}&nbsp;-&nbsp;{{.Text}}</p>
            {{end}}
          </div>
        </div>
      {{end}}
    {{end}}
    <div class="card-results">
      <p id="result" class="card-result"></p>
      <p id="error" class="card-error"></p>
    </div>
  </div>

  <script>
    let hlp = document.getElementById("card-help");
    hlp.style.display = 'none';

    let tgt = document.getElementById('TARGET');
    let jails = sessionStorage.getItem('jails');
    let pjails = JSON.parse(jails);
    pjails.forEach(j => {
      const option = document.createElement("option");
      option.value = j.Hostname;
      option.textContent = j.Hostname;
      tgt.appendChild(option);
    });

    function helpED(event) {
      event.preventDefault();     
      hlp.style.display === 'none' ?  hlp.style.display = 'block' : hlp.style.display = 'none';
    }

    function handleRadioBtn(radio) {
      let v = document.getElementById("VALUE");
      v.style.border = '1px solid #8f8f9d';
      v.disabled = false;
      
      if (radio.value === 'get' || radio.value === 'remove') { 
        v.style.border = '1px solid #ccc';
        v.disabled = true; 
        return;
      }
    }

    async function configSubmit(event) {
      event.preventDefault();

      const name = '{{$.CommandName}}';
      const result = document.getElementById('result');
      const error = document.getElementById('error');
      result.innerText = "";
      error.innerText = ""; 
      
      const form = document.getElementById(name + '-form');
      const formData = new FormData(form);
      let options = [];
      let formObj = {};
      formData.forEach((value, key) => {
        if (key.indexOf('options_') != -1) {
          options.push(value);
          return;
        }

        value = value.trim();

        if (key == "action") {
          formObj[key] = value;
          return;
        }

        if (key === "TARGET") {
          let t = document.getElementById(key);
          t.style.borderColor = 'initial';

          if (value != "") {
            formObj[key] = value;
            return;
          }

          t.style.borderColor = '#e72727';
          error.innerText = "[Error]: invalid value for TARGET field.";
        }

        if (key === "PROPERTY") {
          let p = document.getElementById(key);
          p.style.borderColor = 'initial';

          if (value != "") {
            formObj[key] = value;
            return;
          }

          p.style.borderColor = '#e72727';
          error.innerText = "[Error]: invalid value for PROPERTY field.";
        }

        if (key === "VALUE") {
          let v = document.getElementById(key);
          v.style.borderColor = 'initial';

          if (value != "") {
            formObj[key] = value;
            return;
          }

          v.style.borderColor = '#e72727';
          error.innerText = "[Error]: invalid value for VALUE field.";
        }
      });
      
      if (error.innerText != "") { return; }

      formObj['options'] = options.join(' ').trimEnd();
      const formJson = JSON.stringify(formObj);

      result.innerText = 'send -> bastille ' + name;

      const response = await sendHttpRequest(name, formJson);
      if (response.code == 200) {
        error.innerText = "";
        result.innerText = response.data.msg;
      } else {
        result.innerText = "";
        error.innerText = response.error;
      }
    }
  </script>
{{end}}
