{{define "content"}}
  <div>
    <h3 class="ttl-home-host-info">Host Info</h3>
    {{if .SysData}}
    <table class="tbl-home-host-info">
      <tbody>
        <tr>
          <td>HOSTNAME</td>
          <td><strong>{{ .SysData.Hostname}}</strong></td> 
        </tr>
        <tr>
          <td>PLATFORM</td>
          <td><strong>{{ .SysData.Platform}}</strong></td>
        </tr>  
        <tr>
          <td>RELEASE</td>
          <td><strong>{{ .SysData.Osrelease}}</strong></td>
        </tr>
        <tr>
          <td>ARCHTECTURE</td>
          <td><strong>{{ .SysData.Arch}}</strong></td>
        </tr>
        <tr>
          <td>TOTAL MEMORY</td>
          <td><strong>{{ .SysData.Totalmemory}} (Gb)</strong></td>
        </tr>
        <tr>
          <td>AVAILABLE MEMORY</td>
          <td><strong>{{ .SysData.Availablememory}} (Mb)</strong></td>
        </tr>
        <tr>
          <td>BASTILLE VERSION</td>
          <td><strong>{{ .SysData.BastilleVersion}}</strong></td>
        </tr>
      </tbody>
    </table>
    {{end}}
  </div>

  <br />
  
  <div class="div-home-list-jails">
    {{if .JailsData}}
      <h3 class="ttl-home-list-jails">Bastille Jails</h3>
      <table class="tbl-home-list-jails">
        <thead>
          <tr>
            <th>JID</th>
            <th>BOOT</th>
            <th>PRIO</th>
            <th>STATE</th>
            <th>IP ADDRESS</th>
            <th>PUBLISHED PORTS</th>
            <th>HOSTNAME</th>
            <th>RELEASE</th>
            <th class="tbl-home-th-path">PATH</th>
            <th>ACTION</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          {{range $index, $element := .JailsData}}
            <tr class='{{if eq .State "Up"}}tbl-home-list-jails-up{{else}}tbl-home-list-jails-down{{end}}'>
              <td data-label="JID">{{ $element.Jid}}</td>
              <td data-label="BOOT">{{ $element.Boot}}</td>
              <td data-label="PRIO">{{ $element.Prio}}</td>
              <td data-label="STATE">{{ $element.State}}</td>
              <td data-label="IP">{{ $element.Ip}}</td>
              <td data-label="PUBLISHED">{{ $element.Published}}</td>
              <td data-label="HOSTNAME">{{ $element.Hostname}}</td>
              <td data-label="RELEASE">{{ $element.Release}}</td>
              <td data-label="PATH" class="tbl-home-td-path">{{ $element.Path}}</td>
              <td data-label="ACTION" class="tbl-home-td-btns">
                <button 
                  class="btn-home-start-jail" 
                  onclick="startJail('{{$element.Hostname}}', '{{$index}}')" 
                  {{if eq $element.State "Up" }}disabled{{end}}
                >
                  START
                </button>
                <button 
                  class="btn-home-stop-jail" 
                  onclick="stopJail('{{$element.Hostname}}', '{{$index}}')" 
                  {{if eq $element.State "Down" }}disabled{{end}}
                >
                  STOP
                </button>
              </td>
              <td data-label="LOADER" class="tbl-home-td-loader">
                <div class="loader"></div>
              </td>
            </tr>
          {{end}}
        </tbody>
      </table>
    {{end}}
  </div>

  <script>
    let loaderDiv = document.getElementsByClassName("loader");
    for (const elem of loaderDiv) { elem.style.display = 'none'; }
    
    async function startJail(target, idx) {
      const data = { options: "", target: target, value: "" };
      loaderDiv[idx].style.display = 'block';

      const response = await fetch('/start', {
        method: 'POST',
        // mode: 'no-cors',
        headers: {
          'Access-Control-Allow-Origin': '*',
          'accept': 'application/json',
          'Content-Type': 'application/json',
          'X-Request-ID': sessionStorage.getItem('id')
        },
        body: JSON.stringify(data),
      });

      if (!response.ok) {
        const error = new Error(`HTTP error! status: ${response.status}`);
        console.log('Error: ', error.message);
      }
      
      loaderDiv[idx].style.display = 'none';
      const responseData = await response.json();
      window.location.href = "http://{{.Addr}}/";
      // return responseData;
    }

    async function stopJail(target, idx) {
      const data = { options: "", target: target };
      console.log(idx);
      loaderDiv[idx].style.display = 'block';

      const response = await fetch('/stop', {
        method: 'POST',
        //mode: 'no-cors',
        headers: {
          'access-control-allow-origin': '*',
          'accept': 'application/json',
          'Content-Type': 'application/json',
          'X-Request-ID': sessionStorage.getItem('id')
        },
        body: JSON.stringify(data),
      });

      if (!response.ok) {
        const error = new Error(`HTTP error! status: ${response.status}`);
        console.log('Error: ', error.message);
      }

      loaderDiv[idx].style.display = 'none';
      const responseData = await response.json();
      window.location.href = "http://{{.Addr}}/";
      //return responseData;
    }
  </script>
{{end}}
