{{define "content"}}
  <div class="card">
    {{$parentContext := .}} 
    {{range .Data.Commands}}
      {{if eq .Command $.CommandName}}
        <div class="card-title">{{.Command}}</div>
        <div class="card-description">{{.Description}}</div>
        <div class="card-content">
          <form id="{{$.CommandName}}-form" class="card-form">
            <label>OPTIONS:</label><br />
            {{range .Options}}
              <input type="checkbox" name="options_{{.Lflag}}" value="{{.Sflag}}" />
              <label for="{{.Lflag}}">{{.Lflag}}</label>
              &nbsp;
            {{end}}
            <br /><br />
            {{range .Fields}}
              <label>{{.}}</label><br />
              <input type="text" name="{{.}}" id="{{.}}"/>
              <br /><br />
            {{end}}
            <button class="btn-card-submit" onclick="mountSubmit(event)">Submit</button>          
          </form>
        </div>
        <br />
        <div class="card-help">
          <h3>Help</h3>
          <p>{{.Help}}</p>
          <div class="card-help-options">
            {{range .Options}}
              <p>&nbsp;&nbsp;{{.Sflag}}&nbsp;|&nbsp;{{.Lflag}}&nbsp;-&nbsp;{{.Text}}</p>
            {{end}}
          </div>
        </div>
      {{end}}
    {{end}}
    <div class="card-results">
      <p id="result" class="card-result"></p>
      <p id="error" class="card-error"></p>
    </div>
  </div>

  <script>
    async function mountSubmit(event) {
      event.preventDefault();

      const name = '{{$.CommandName}}';
      const result = document.getElementById('result');
      const error = document.getElementById('error');
      result.innerText = "";
      error.innerText = ""; 

      const form = document.getElementById(name + '-form');
      const formData = new FormData(form);      
      let options = [];
      let formObj = {};
      formData.forEach((value, key) => {
        if (key.indexOf('options_') != -1) {
          options.push(value);
          return;
        }

        value = value.trim();

        if (key === "TARGET") {
          let t = document.getElementById(key);
          t.style.borderColor = 'initial';

          if (value != "") {
            formObj[key] = value;
            return;
          }

          t.style.borderColor = '#e72727';
          error.innerText = "[Error]: TARGET is a required field.";
        }

        if (key === "HOST_PATH") {
          let hp = document.getElementById(key);
          hp.style.borderColor = 'initial';

          if (value != "") {
            formObj[key] = value;
            return;
          }

          hp.style.borderColor = '#e72727';
          error.innerText = "[Error]: HOST_PATH is a required field.";
        }
        
        if (key === "JAIL_PATH") {
          let jp = document.getElementById(key);
          jp.style.borderColor = 'initial';

          if (value != "") {
            formObj[key] = value;
            return;
          }

          jp.style.borderColor = '#e72727';
          error.innerText = "[Error]: JAIL_PATH is a required field.";
        }
        
        if (key === "filesystem_type") {
          let ft = document.getElementById(key);
          ft.style.borderColor = 'initial';

          if (value != "") {
            formObj[key] = value;
            return;
          }

          ft.style.borderColor = '#e72727';
          error.innerText = "[Error]: filesystem_type is a required field.";
        }

        if (key === "option") {
          let o = document.getElementById(key);
          o.style.borderColor = 'initial';

          if (value != "") {
            formObj[key] = value;
            return;
          }

          o.style.borderColor = '#e72727';
          error.innerText = "[Error]: option is a required field.";
        }

        if (key === "dump") {
          let d = document.getElementById(key);
          d.style.borderColor = 'initial';

          const dumpRegex = /^(0|[1-9]\d{0,2})$/;
          if (dumpRegex.test(value)) {
            formObj[key] = value;
            return;
          }

          d.style.borderColor = '#e72727';
          error.innerText = "[Error]: dump is a required field.";
        }

        if (key === "pass_number") {
          let pn = document.getElementById(key);
          pn.style.borderColor = 'initial';

          let pnRegex = /^(0|[1-9]\d{0,3}|[12]\d{4}|3[01]\d{3}|32[0-5]\d{2}|326[0-4]\d|3265[0-5])$/;
          if (pnRegex.test(value)) {
            formObj[key] = value;
            return;
          }

          pn.style.borderColor = '#e72727';
          error.innerText = "[Error]: pass_number is a required field.";
        }
      });

      if (error.innerText != "") { return; }

      formObj['options'] = options.join(' ').trimEnd();
      const formJson = JSON.stringify(formObj);

      result.innerText = 'send -> bastille ' + name;

      const response = await sendHttpRequest(name, formJson);
      if (response.code == 200) {
        error.innerText = "";
        result.innerText = response.data.msg;
      } else {
        result.innerText = "";
        error.innerText = response.error;
      }
    }
  </script>
{{end}}
