{{define "content"}}
  <div class="card">
    {{$parentContext := .}} 
    {{range .Data.Commands}}
      {{if eq .Command $.CommandName}}
        <div class="card-title">{{.Command}}</div>
        <div class="card-description">{{.Description}}</div>
        <div class="card-content">
          <form id="{{$.CommandName}}-form" class="card-form">
            <label>OPTIONS:</label><br />
            {{range .Options}}
              <input type="checkbox" name="options_{{.Lflag}}" value="{{.Sflag}}" />
              <label for="{{.Lflag}}">{{.Lflag}}</label>
              &nbsp;
            {{end}}
            {{range .Fields}}
              {{if or (eq . "add") (eq . "delete") (eq . "list")}}
                <input type="radio" id="{{.}}" name="action" value="{{.}}" onchange="handleRadioBtn(this)" />
                <label for="action">{{.}}</label>
                &nbsp;
              {{else}}
                <br /><br />
                <label>{{.}}</label><br />
                <input type="text" name="{{.}}" id="{{.}}" />
                <br />
              {{end}}
            {{end}}
            <br />
            <button class="btn-card-submit" onclick="tagsSubmit(event)">Submit</button>
            <button class="btn-card-help" onclick="helpED(event)">Help</button>
          </form>
        </div>
        <br />
        <div class="card-help" id="card-help">
          <h3>Help</h3>
          <p>{{.Help}}</p>
          <div class="card-help-options">
            {{range .Options}}
              <p>&nbsp;&nbsp;{{.Sflag}}&nbsp;|&nbsp;{{.Lflag}}&nbsp;-&nbsp;{{.Text}}</p>
            {{end}}
          </div>
        </div>
      {{end}}
    {{end}}
    <div class="card-results">
      <p id="result" class="card-result"></p>
      <p id="error" class="card-error"></p>
    </div>
  </div>

  <script>
    let hlp = document.getElementById("card-help");
    hlp.style.display = 'none';

    function helpED(event) {
      event.preventDefault();     
      hlp.style.display === 'none' ?  hlp.style.display = 'block' : hlp.style.display = 'none';
    }
    
    let tg = document.getElementById("tags");

    function handleRadioBtn(radio) {      
      tg.style.border = '1px solid #8f8f9d';
      tg.disabled = false;
      
      if (radio.value === 'list') { 
        tg.style.border = '1px solid #ccc';
        tg.disabled = true; 
        return;
      }
    }

    async function tagsSubmit(event) {
      event.preventDefault();

      const name = '{{$.CommandName}}';
      const result = document.getElementById('result');
      const error = document.getElementById('error');
      result.innerText = "";
      error.innerText = ""; 

      const form = document.getElementById(name + '-form');
      const formData = new FormData(form);      
      let options = [];
      let formObj = {};
      formData.forEach((value, key) => {
        if (key.indexOf('options_') != -1) {
          options.push(value);
          return;
        }

        value = value.trim();

        if (key === "TARGET") {
          let t = document.getElementById(key);
          t.style.borderColor = 'initial';

          if (value != "") {
            formObj[key] = value;
            return;
          }

          t.style.borderColor = '#e72727';
          error.innerText = "[Error]: TARGET is a required field.";
        }

        if (key === "action") {
          formObj[key] = value;
          return;
        }
        
        if (key === "tags") {          
          tg.style.borderColor = 'initial';

          if (value != "") {
            formObj[key] = value;
            return;
          }

          tg.style.borderColor = '#e72727';
          error.innerText = "[Error]: tags is a required field.";
        }
      });

      if (error.innerText != "") { return; }

      formObj['options'] = options.join(' ').trimEnd();
      const formJson = JSON.stringify(formObj);      

      result.innerText = 'send -> bastille ' + name;

      const response = await sendHttpRequest(name, formJson);
      if (response.code == 200) {
        error.innerText = "";
        result.innerText = response.data.msg;
      } else {
        result.innerText = "";
        error.innerText = response.error;
      }
    }
  </script>
{{end}}
