{{define "content"}}
  <div class="card">
    {{$parentContext := .}} 
    {{range .Data.Commands}}
      {{if eq .Command $.CommandName}}
        <div class="card-title">{{.Command}}</div>
        <div class="card-description">{{.Description}}</div>
        <div class="card-content">
          <form id="{{$.CommandName}}-form" class="card-form">
            <label>OPTIONS:</label><br />
            {{range .Options}}
              <input type="checkbox" name="options_{{.Lflag}}" value="{{.Sflag}}" />
              <label for="{{.Lflag}}">{{.Lflag}}</label>
              &nbsp;
            {{end}}
            <br /><br />
            {{range .Fields}}              
              {{if or (eq . "destroy") (eq . "rollback") (eq . "snapshot") (eq . "df") (eq . "usage") (eq . "get") (eq . "set") (eq . "jail") (eq . "unjail")}}
                <input type="radio" id="{{.}}" name="action" value="{{.}}" onchange="handleRadioBtn(this)" />
                <label for="action">{{.}}</label>
                &nbsp;
              {{else}}
                {{if or (eq . "TAG") (eq . "key") (eq . "value") (eq . "pool/dataset") (eq . "/jail/path") }}
                  <br /><br />
                  <label>{{.}}</label><br />
                  <input type="text" name="{{.}}" id="{{.}}" />                  
                {{else}}                  
                  <label>{{.}}</label><br />
                  <input type="text" name="{{.}}" id="{{.}}" />
                  <br />
                {{end}}           
              {{end}}
            {{end}}
            <br /><br />
            <button class="btn-card-submit" onclick="zfsSubmit(event)">Submit</button>          
          </form>
        </div>
        <br />
        <div class="card-help">
          <h3>Help</h3>
          <p>{{.Help}}</p>
          <div class="card-help-options">
            {{range .Options}}
              <p>&nbsp;&nbsp;{{.Sflag}}&nbsp;|&nbsp;{{.Lflag}}&nbsp;-&nbsp;{{.Text}}</p>
            {{end}}
          </div>
        </div>
      {{end}}
    {{end}}
    <div class="card-results">
      <p id="result" class="card-result"></p>
      <p id="error" class="card-error"></p>
    </div>
  </div>

  <script>
    const enabled = '1px solid #8f8f9d';
    const disabled = '1px solid #ccc';

    let tg = document.getElementById("TAG");
    tg.style.border = disabled;
    tg.disabled = true;

    let k = document.getElementById("key");
    k.style.border = disabled;
    k.disabled = true;

    let v = document.getElementById("value");
    v.style.border = disabled;
    v.disabled = true;

    let pd = document.getElementById("pool/dataset");
    pd.style.border = disabled;
    pd.disabled = true;
    
    let jp = document.getElementById("/jail/path");
    jp.style.border = disabled;
    jp.disabled = true;

    function handleRadioBtn(radio) {
      tg.style.border = disabled;
      tg.disabled = true;

      k.style.border = disabled;
      k.disabled = true;

      v.style.border = disabled;
      v.disabled = true;

      pd.style.border = disabled;
      pd.disabled = true;

      jp.style.border = disabled;
      jp.disabled = true;

      if (radio.value === 'destroy' || radio.value === 'rollback' || radio.value === 'snapshot') { 
        tg.style.border = enabled;
        tg.disabled = false;
      }

      if (radio.value === 'get' || radio.value === 'set') { 
        k.style.border = enabled;
        k.disabled = false;

        v.style.border = enabled;
        v.disabled = false;
      }

      if (radio.value === 'jail') { 
        pd.style.border = enabled;
        pd.disabled = false;

        jp.style.border = enabled;
        jp.disabled = false;
      }

      if (radio.value === 'unjail') {        
        jp.style.border = enabled;
        jp.disabled = false;
      }
    }

    async function zfsSubmit(event) {
      event.preventDefault();

      const name = '{{$.CommandName}}';
      const result = document.getElementById('result');
      const error = document.getElementById('error');
      result.innerText = "";
      error.innerText = ""; 

      const form = document.getElementById(name + '-form');
      const formData = new FormData(form);      
      let options = [];
      let formObj = {};
      formData.forEach((value, key) => {
        if (key.indexOf('options_') != -1) {
          options.push(value);
          return;
        }

        value = value.trim();

        if (key === "TARGET") {
          let t = document.getElementById(key);
          t.style.borderColor = 'initial';

          if (value != "") {
            formObj[key] = value;
            return;
          }

          t.style.borderColor = '#e72727';
          error.innerText = "[Error]: TARGET is a required field.";
        }

        if (key === "action") {
          formObj[key] = value;
          return;
        }

        if (key === "TAG") {          
          tg.style.borderColor = enabled;

          if (value != "") {
            formObj[key] = value;
            return;
          }

          tg.style.borderColor = '#e72727';
          error.innerText = "[Error]: TAG is a required field.";
        }

        if (key === "key") {
          k.style.borderColor = enabled;

          if (value != "") {
            formObj[key] = value;
            return;
          }

          k.style.borderColor = '#e72727';
          error.innerText = "[Error]: key is a required field.";
        }

        if (key === "value") {          
          v.style.borderColor = enabled;

          if (value != "") {
            formObj[key] = value;
            return;
          }

          v.style.borderColor = '#e72727';
          error.innerText = "[Error]: value is a required field.";
        }

        if (key === "pool/dataset") {          
          pd.style.borderColor = enabled;

          if (value != "") {
            formObj[key] = value;
            return;
          }

          pd.style.borderColor = '#e72727';
          error.innerText = "[Error]: pool/dataset is a required field.";
        }

        if (key === "/jail/path") {          
          jp.style.borderColor = enabled;

          if (value != "") {
            formObj[key] = value;
            return;
          }

          jp.style.borderColor = '#e72727';
          error.innerText = "[Error]: /jail/path is a required field.";
        }
      });

      if (error.innerText != "") { return; }

      formObj['options'] = options.join(' ').trimEnd();
      const formJson = JSON.stringify(formObj);
      
      result.innerText = 'send -> bastille ' + name;

      const response = await sendHttpRequest(name, formJson);
      if (response.code == 200) {
        error.innerText = "";
        result.innerText = response.data.msg;
      } else {
        result.innerText = "";
        error.innerText = response.error;
      }
    }
  </script>
{{end}}
